{% extends "main.html" %}

{% load static %}

{% block title %}
  <title>Comanda</title>
{% endblock %}

{% block content %}
  <h3>Comanda</h3>

  <div class="row">
    <div class="col-lg-6">
      <div class="box-element" id="form-wrapper">
        <form id="form">
          <div id="user-info">
            <div class="form-field">
              <input required class="form-control" type="text"
                name="name" placeholder="Numele..">
            </div>
            <div class="form-field">
              <input class="form-control" type="email"
                name="email" placeholder="Email..">
            </div>
            <div class="form-field">
              <input required class="form-control" type="tel"
                name="phone" placeholder="Nr. de mobil: 79123456" 
                  pattern="[0-9]{2}-[0-9]{3}-[0-9]{3}">
            </div>
          </div>
        
          <div id="shipping-info">
            <hr>
            <p>Datele pentru livrare</p>
            <hr>
            <div class="form-field">
              <input class="form-control" type="text"
                name="address" placeholder="Adresa..">
            </div>
            <div class="form-field">
              <input class="form-control" type="text"
                name="city" placeholder="Orasul..">
            </div>
            <div class="form-field">
              <input class="form-control" type="text"
                name="state" placeholder="Raionul..">
            </div>
            <div class="form-field">
              <input class="form-control" type="text"
                name="zipcode" placeholder="Cod postal..">
            </div>
            <div class="form-field">
              <input class="form-control" type="text"
                name="alte" placeholder="Alte..">
            </div>
          </div>

          <hr>
          <input id="form-button" type="submit"
            class="btn btn-success btn-block" value="Continue">
        </form>
      </div>
      
      <div class="box-element hidden" id="payment-info">
        <small>Paypal Options</small>
      </div>
      
    </div>
    
    <div class="col-lg-6">
      <div class="box-element">
        <a class="btn btn-outline-dark" href="{% url 'cart' %}">
          &#x2190; Inapoi la Cos
        </a>
        <hr>
        <h3>Comanda:</h3>
        <hr>
        {% for item in items %}
        <div class="cart-row">
          <div style="flex:2;"><img class="row-image"
            src="{{ item.product.imageURL }}"></div>
          <div style="flex:2;">{{ item.product.name }}</div>
          <div style="flex:1;">${{ item.product.price|floatformat:2 }}</div>
          <div style="flex:1;">{{ item.quantity }}</div>
        </div>
        {% endfor %}
        <h5>Items: {{ order.get_cart_items }}</h5>
        <h5>Total: ${{ order.get_cart_total|floatformat:2 }}</h5>
      </div>
    </div>
  </div>
{% endblock %}
