{% extends "main.html" %}

{% load static %}

{% block title %}
  <title>Magazin</title>
{% endblock %}

{% block content %}
  <h3>Produsele noastre</h3>
  
  <div class="row">
    {% for product in products %}
    <div class="col-lg-4">
      <a href="#">
        <img class="thumbnail" src="{{ product.imageURL }}">
      </a>
      <div class="box-element product">
        <h6><strong>{{ product.name }}</strong></h6>
        <a class="btn btn-outline-secondary add-btn update-cart" href="{% url 'add_to_cart' product.id %}">
          Adauga in Cos
        </a>
        <a class="btn btn-outline-success" href="#">
          Detalii
        </a>
        <h4 class="price">
          ${{ product.price|floatformat:2 }}
        </h4>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

